{% extends 'base.html' %}
<title>{% block title %}All Posts{% endblock %}</title>

{% block content %}
<div class="div row container">
</div>

<div class="div row container justify-content-center">
    {% for msg in get_flashed_messages() %}
    <div class="badge badge-pill badge-danger col-6" id="errMsg">
        {{msg}}
    </div>
    {% endfor %}
</div>


<div class="div row container text-center">
    <div class="col">
        <h1>Posts</h1>
    </div>
</div>
<div class="div row container">
    <div class="col-5">
    </div>
    <div class="col">


        {% for post in posts %}

        <form action="/posts/{{post.id}}/delete" method="post" id="form{{post.id}}">
            <a href="/posts/{{post.id}}">
                <h3>{{post.title}}</h3>
            </a>
            <p>{{post.content}}</p>
            <p>Tags :
                {%for tag in tags%}
                {%for new_post in tag.posts%}
                {% if new_post.id == post.id %}
                <span class="badge badge-pill badge-primary">{{tag.name}}</span>
                {%endif%}
                {%endfor%}
                {% endfor %}
            </p>
            <a href="/posts/{{post.id}}/edit"><span class="badge badge-pill badge-warning">Edit</span></a>
            <a href="javascript:submitForm('form{{post.id}}')"><span class="badge badge-pill badge-danger">Delete</span>
            </a>
            <br>
            <br>
        </form>

        {% endfor %}

    </div>
</div>
<div class="div row container text-center">
    <div class="col">
        <a href="/tags">
            <button type=" button" class="btn btn-primary m-3">Show All Tags</button>
        </a>
    </div>
</div>
<div class="div row container text-center">
    <div class="col">
        <a href="/">
            <button type=" button" class="btn btn-warning m-3">Show All Users</button>
        </a>
    </div>
</div>
{% endblock %}