{% extends 'base.html' %}
<title>{% block title %}{{post.title}}{% endblock %}</title>

{% block content %}
<div class="div row container">
    <div class="col text-center">
        <h1>Edit Post for {{post.user.first_name}}</h1>
    </div>
</div>

<div class="div row container justify-content-center">
    {% for msg in get_flashed_messages() %}
    <div class="badge badge-pill badge-danger col-6" id="errMsg">
        {{msg}}
    </div>
    {% endfor %}
</div>

<form action="/posts/{{post.id}}/edit" method="post">
    <div class="div row container text-end">
        <div class="col">
            Title :
        </div>
        <div class=" div col text-start">
            <input type="text" name="title" value="{{post.title}}">
        </div>
    </div>
    <div class="div row container text-end">
        <div class="col">
            Content :
        </div>
        <div class=" div col text-start">
            <textarea name="content" id="content" cols="30" rows="10">{{post.content}}</textarea>
        </div>
    </div>
    <div class="div row container text-end">
        <div class="col">
            Tags :
        </div>
        <div class=" div col text-start">
            {% for tag in tags%}
            <input type="checkbox" onclick="checkBoxes({{tag.id}}, {{post.id}});" name="tags" value="{{tag.id}}"
                id="{{tag.id}}" {%for pt in posts_tags%} {% if pt.tag_id==tag.id%} checked {%endif%} {%endfor%}>
            <a href="/tags/{{tag.id}}/edit">{{tag.name}}</a>
            <br>
            {% endfor %}
        </div>
    </div>
    <div class="div row container text-center">
        <div class="col">
            <a href="/tags/new">
                <button type="button" class="btn btn-warning m-2">Create New Tag</button>
            </a>
        </div>
    </div>
    <div class="div row container text-center">
        <div class="col">
            <button class="btn btn-success">Submit Post</button>
        </div>
    </div>
</form>

{% endblock %}