{% extends 'base.html' %}
<title>{% block title %}{{user.first_name}}{% endblock %}</title>

{% block content %}
<div class="div row container">
</div>

<div class="div row container justify-content-center">
    {% for msg in get_flashed_messages() %}
    <div class="badge badge-pill badge-danger col-6" id="errMsg">
        {{msg}}
    </div>
    {% endfor %}
</div>

<div class="div row container text-end">
    <div class="col">
        <img width="100" src="{{user.image_url}}" alt="{{user.first_name}} {{user.last_name}}">
    </div>
    <div class=" div col text-start">
        <h1>{{user.first_name}} {{user.last_name}}</h1>
        <form action="/users/{{user.id}}/delete" method="post">
            <a href="/users/{{user.id}}/edit">
                <button type=" button" class="btn btn-success m-3">Edit {{user.first_name}}</button></a>
            <button class="btn btn-danger m-3">Delete
                {{user.first_name}}</button>
        </form>
    </div>
</div>
<div class="div row container text-center">
    <div class="col">
        <h3>Posts</h3>
    </div>
</div>
<div class="div row container">
    <div class="col"></div>
    <div class="col">
        <ul>
            {%for post in user.posts%}
            <li>{{post.title}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="div row container text-center">
    <div class="col">
        <a href="/users/{{user.id}}/posts/new">
            <button type=" button" class="btn btn-primary m-3">Create New Post</button>
        </a>
    </div>
</div>
<div class="div row container text-center">
    <div class="col">
        <a href="/">
            <button type=" button" class="btn btn-warning m-3">Show All Users</button>
        </a>
    </div>
</div>
{% endblock %}